/* CSS Document */
body {
	background: white;
	margin: 0px;
	padding: 0px;
}

img {
	border: none;
}

/* ---------- TOPO ----------  */
#barraTopo {
	height: 35px;
	margin: 0px 0px 0px 0px;
	padding: 0px 50px 0px 50px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4D4F;
	line-height: 35px;
}

#iconeUsuario {
	margin: 6px 7px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
}

#tituloUsuario {
	display: block;
	float: left;
}

.infoUsuario {
	background-color: #E0DFE2;
	height: 21px;
	border: 1px solid #B5B4B7;
	display: block;
	float: left;
	margin: 2px 0px 0px 7px;
	padding: 0px 6px 0px 6px;
	line-height: 22px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4D4F;
}

.labelIdioma {
	display: block;
	float: left;
	margin: 0px 6px 0px 65px;
	_margin: -3px 6px 0px 65px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4D4F;
	line-height: 35px;
}

.idiomaLink {
	display: block;
	float: left;
	margin: 6px 1px 0px 7px;
	_margin: 5px 1px 0px 7px;
	padding: 5px;
	_padding: 4px 4px 4px 4px;
}

.idiomaLink:hover {
	margin: 5px 0px 0px 6px;
	_margin: 4px 0px 0px 6px;
	background-color: #E0DFE2;
	border: 1px solid #B5B4B7;
	cursor: hand;
	cursor: pointer;
}

.imgIdiomaLink {
	border: none;
	display: block;
	float: left;
	margin: 6px 1px 0px 7px;
	_margin: 5px 1px 0px 7px;
	padding: 5px;
	_padding: 4px 4px 0px 4px;
}

.imgIdiomaLink:hover {
	margin: 5px 0px 0px 6px;
	_margin: 4px 0px 0px 6px;
	background-color: #E0DFE2;
	border: 1px solid #B5B4B7;
}

#desenvolvimento {
	float: right;
	display: block;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4D4F;
	line-height: 35px;
}

#linkNucleo {
	color: #4D4D4F;
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#linkNucleo :hover {
	text-decoration: underline;
}

/* --------------------------  */ /* --------- MARCAS ---------  */
#marcaShutdown {
	margin: 19px 0px 19px 52px;
	float: left;
}

#marcaCliente {
	margin: 14px 48px 19px 0px;
	float: right;
}

/* --------------------------  */ /* ---------- MENU ----------  */
#menu {
	margin: 0px 48px 0px 48px;
	padding: 0px 0px 0px 0px;
	height: 28px;
	color: #4D4D4F;
	background-color: #FCFCFC;
	line-height: 28px;
	border: #E5E5E5 solid 1px;
	clear: both;
}

.itemMenu {
	float: left;
	padding: 0px 13px 0px 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #ffffff;
	color: #4D4D4F;
	line-height: 28px;
	text-decoration: none
}

.itemMenu a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #ffffff;
	color: #4D4D4F;
	line-height: 28px;
	text-decoration: none
}

.itemMenu:hover {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 0px 12px 0px 12px;
	background-color: #F3F3F3;
	border-right: 1px solid #E8E8E8;
	color: #008A00;
}

.subMenu {
	position: absolute;
	width: 120px;
	left: 48px;
}

.subMenuItem {
	display: block;
	padding: 0px 13px 0px 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #ffffff;
	color: #4D4D4F;
	line-height: 24px;
	text-decoration: none;
	border: 1px solid #E8E8E8;
	border-top: none;
}

.subMenuItem:hover {
	padding: 0px 12px 0px 12px;
	background-color: #F3F3F3;
	border-right: 1px solid #E8E8E8;
	color: #008A00;
}

/* --------------------------  */ /* ---------- LOGIN ---------  */
.labelTopo {
	float: right;
	display: block;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4D4F;
	line-height: 35px;
}

.linkNucleo {
	color: #4D4D4F;
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.linkNucleo:hover {
	text-decoration: underline;
}

#form {
	margin: 0px;
	padding: 0px;
}

#boxLogin {
	margin: -85px 0px 0px -137px;
	padding: 59px 13px 0px 13px;
	background: url(imagens/boxLogin.gif) no-repeat;
	width: 274px;
	height: 170px;
	position: absolute;
	left: 50%;
	top: 50%;
	float: left;
}

input.login {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: block;
	border: solid 1px #E5E5E5;
	color: #4D4D4F;
	background-color: #FFFFFF;
	margin: 3px 0px 0px 0px;
	padding: 3px 10px 3px 10px;
	width: 250px;
}

.labelMensagemLogin {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4D4F;
	display: block;
	float: left;
	line-height: 25px;
	margin: 8px 10px 0px 5px;
}

#btEnviar {
	float: right;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background: url(imagens/btEnviar.gif) 0px 0px;
	margin: 8px 0px 0px 0px;
	font-size: 12px;
	width: 82px;
	height: 25px;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	_cursor: hand;
}

/* --------------------------  */
div.menubar,div.menupopup,div.ctxpopup {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	cursor: hand;
	cursor: pointer;
	background: menu;
	padding: 0px 12px 0px 12px;
}

div.menubar {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid black;
}

div.menupopup,div.ctxpopup {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: block;
	position: absolute;
	z-index: 88000;
	border: 0px outset;
}

div.menubar td,div.menupopup td {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	white-space: nowrap;
	background-color: #FCFCFC;
}

div.menubar a,div.menubar a:visited,div.menubar a:hover,div.menupopup a,div.menupopup a:visited,div.menupopup a:hover
	{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 0px solid menu;
	background: #FFFFFF;
	text-decoration: none;
	color: #4D4D4F;
}

div.menubar a:hover {
	background: threedface;
	border-color: threedhighlight threedshadow threedshadow threedhighlight;
}

div.menupopup a:hover {
	background: highlight;
	color: highlighttext;
}

div.menupopup hr {
	border: 0;
	color: darkgray;
	background: darkgray;
}