<?xml version="1.0"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


	<bean id="aplCadastrarNucleoPessoa"
		class="nucleo.comuns.autenticacao.acegi.aplicacao.AplCadastrarNucleoPessoaImpl">
		<property name="nucleoDaoBase" ref="nucleoPessoaDAO" />
	</bean>

	<bean id="aplCadastrarPessoaExemplo" class="ode.exemplo2.pessoa.Cgt.AplCadastrarPessoaExemploImpl">
		<property name="nucleoDaoBase" ref="pessoaExemploDao" />
	</bean>

	<bean id="aplCadastrarKDominioAplicacao"
		class="ode.conhecimento.processo.Cgt.AplCadastrarKDominioAplicacaoImpl">
		<property name="nucleoDaoBase" ref="kDominioAplicacaoDao" />
	</bean>


	<bean id="aplCadastrarKArtefato" class="ode.conhecimento.processo.Cgt.AplCadastrarKArtefatoImpl">
		<property name="nucleoDaoBase" ref="kArtefatoDao" />
	</bean>

	<bean id="aplCadastrarTipoKArtefato" class="ode.conhecimento.processo.Cgt.AplCadastrarTipoKArtefatoImpl">
		<property name="nucleoDaoBase" ref="tipoKArtefatoDao" />
	</bean>


	<bean id="nucleoUserDetailsService"
		class="nucleo.comuns.autenticacao.acegi.aplicacao.NucleoUserDetailsService">
		<property name="nucleoUserDetailsDAO">
			<ref bean="nucleoUserDetailsDAO" />
		</property>
	</bean>
	
	<bean id="aplCadastrarKDominioConhecimento" 
		class="ode.conhecimento.organizacao.Cgt.AplCadastrarKDominioConhecimentoImpl">
		<property name="nucleoDaoBase" ref="dominioConhecimentoDao"/>
	</bean>
	
	<bean id="aplCadastrarProcessoPadrao" 
		class="ode.processoPadrao.Cgt.AplCadastrarProcessoPadraoImpl">
		<property name="nucleoDaoBase" ref="compPPDao"/>
	</bean>
	

</beans>
